:root {
  --cv-yellow: #303638;
  --cv-light-orange: #179397;
  --cv-dark-orange: #C08261;
  --cv-red-orange: #425966;
  --cv-dark-pink: #333C59;
  --cv-light-pink: #FEBC5A;
  --cv-dark-purple: #17151F;
  --cv-purple: #F3CCF3;
  --cv-dark-blue: #86B6F6;
  --cv-blue: #BF3131;
  --cv-light-blue: #5F0F40;
  --cv-ocean-blue: #637E76;
  --cv-green: #FAEED1;
  --cv-light-green: #9BBEC8;
}

.yellow {
  background: var(--cv-yellow);
  color: white !important;
}
.light-orange {
  background: var(--cv-light-orange);
}
.dark-orange {
  background: var(--cv-dark-orange);
}
.red-orange {
  background: var(--cv-red-orange);
}
.dark-pink {
  background: var(--cv-dark-pink);
}
.light-pink {
  background: var(--cv-light-pink);
}
.dark-purple {
  background: var(--cv-dark-pink);
  color: black !important;
}
.purple {
  background: var(--cv-purple);
}
.dark-blue {
  background: var(--cv-dark-blue);
}
.blue {
  background: var(--cv-blue);
}
.light-blue {
  background: var(--cv-light-blue);
}
.ocean-blue {
  background: var(--cv-ocean-blue);
}
.green {
  background: var(--cv-green);
}
.light-green {
  background: var(--cv-light-green);
}
.dark {
  background: #333;
}

.color {
  width: 25px;
  aspect-ratio: 1;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.color-pallet {
  width: 100%;
  /* gap: 1rem; */
  overflow-x: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.color-pallet::-webkit-scrollbar {
  display: none;
}
