:root {
  --cv-yellow: #f9bc2f;
  --cv-light-orange: #fd8d30;
  --cv-dark-orange: #f4613e;
  --cv-red-orange: #ff5e5e;
  --cv-dark-pink: #e13f79;
  --cv-light-pink: #ffb6c1;
  --cv-dark-purple: #8b1b65;
  --cv-purple: #9554c8;
  --cv-dark-blue: #5b7fc4;
  --cv-blue: #3a8def;
  --cv-light-blue: #66c4fe;
  --cv-ocean-blue: #15abab;
  --cv-green: #6db56d;
  --cv-light-green: #acd68b;
}

.yellow {
  background: var(--cv-yellow);
}
.light-orange {
  background: var(--cv-light-orange);
}
.dark-orange {
  background: var(--cv-dark-orange);
}
.red-orange {
  background: var(--cv-red-orange);
}
.dark-pink {
  background: var(--cv-dark-pink);
}
.light-pink {
  background: var(--cv-light-pink);
}
.dark-purple {
  background: var(--cv-dark-pink);
}
.purple {
  background: var(--cv-purple);
}
.dark-blue {
  background: var(--cv-dark-blue);
}
.blue {
  background: var(--cv-blue);
}
.light-blue {
  background: var(--cv-light-blue);
}
.ocean-blue {
  background: var(--cv-ocean-blue);
}
.green {
  background: var(--cv-green);
}
.light-green {
  background: var(--cv-light-green);
}
.dark {
  background: #333;
}

.color {
  width: 25px;
  aspect-ratio: 1;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;

}

.color-pallet {
  width: 100%;
  /* gap: 1rem; */
  overflow-x: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.color-pallet::-webkit-scrollbar {
  display: none;
}
